@font-face {
  font-family: "Rogan Regular";
  src: url(../../assets/fonts/Rogan-Regular-BF654c4a9481d1b.otf)
    format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Rogan Medium";
  src: url(../../assets/fonts/Rogan-Medium-BF654c4a941b3cb.otf)
    format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Rogan Bold";
  src: url(../../assets/fonts/Rogan-Bold-BF654c4a94709f5.otf) format("opentype");
  font-style: bold;
}
